// Here you can add other styles

@import url('https://fonts.cdnfonts.com/css/sofia-sans');

* {
  font-family: 'Sofia Sans', sans-serif;
}

.header-top {
  background: #1a1a1a;
  background: -webkit-linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(89, 89, 89, 1) 56%,
    rgba(138, 72, 72, 1) 78%,
    rgba(31, 69, 77, 1) 97%
  );
  background: -moz-linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(89, 89, 89, 1) 56%,
    rgba(138, 72, 72, 1) 78%,
    rgba(31, 69, 77, 1) 97%
  );
  background: linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(89, 89, 89, 1) 56%,
    rgba(138, 72, 72, 1) 78%,
    rgba(31, 69, 77, 1) 97%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#1A1A1A", endColorstr="#1F454D", GradientType=1);
}

.MyDataTableEvent .rdt_TableHead {
  font-size: 0.9em;
}
.MyDataTableEvent .rdt_TableBody .rdt_TableRow {
  font-size: 0.9em;
}

.container {
  max-width: 960px;
}

/*
   * Custom translucent site header
   */

.site-header {
  background-color: rgba(0, 0, 0, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #8e8e8e;
  transition: color 0.15s ease-in-out;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
   * Dummy devices (replace them with your own or something else entirely!)
   */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: '';
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}

/*
   * Extra utilities
   */

.flex-equal > * {
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    flex: 1;
  }
}

.button-ecomerce {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #ff5a5a 0, #500a0a 100%);
  border: 0;
  border-radius: 6px;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    rgba(58, 65, 111, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-ecomerce:focus {
  box-shadow:
    #d34343 0 0 0 1.5px inset,
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #e03c3c 0 -3px 0 inset;
}

.button-ecomerce:hover {
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 4px 8px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    #972626 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-ecomerce:active {
  box-shadow: #e03c3c 0 3px 7px inset;
  transform: translateY(2px);
}
.button-ecomerce:disabled {
  opacity: 0.4;
}

.button-ecomerce-cancel {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #a1a1a1 0, #3a2a2b 100%);
  border: 0;
  border-radius: 6px;
  box-shadow:
    rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px,
    rgba(111, 58, 76, 0.5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: 'JetBrains Mono', monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition:
    box-shadow 0.15s,
    transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button-ecomerce-cancel:focus {
  box-shadow:
    #421619 0 0 0 1.5px inset,
    rgba(66, 35, 43, 0.4) 0 2px 4px,
    rgba(66, 35, 43, 0.3) 0 7px 13px -3px,
    #2e0a0d 0 -3px 0 inset;
}

.button-ecomerce-cancel:hover {
  box-shadow:
    rgba(66, 35, 37, 0.4) 0 4px 8px,
    rgba(66, 35, 44, 0.3) 0 7px 13px -3px,
    #5f484a 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-ecomerce-cancel:active {
  box-shadow: #44161a 0 3px 7px inset;
  transform: translateY(2px);
}
.button-ecomerce-cancel:disabled {
  opacity: 0.4;
}

.dropdown-item:active {
  background: #1a1a1a;
  background: linear-gradient(
    90deg,
    rgba(26, 26, 26, 1) 0%,
    rgba(181, 67, 67, 1) 34%,
    rgba(138, 72, 72, 1) 72%,
    rgba(31, 69, 77, 1) 97%
  );
}

.form-control:focus {
  box-shadow: rgba(78, 18, 18, 0.18) 0px 2px 4px !important;
  border-color: #9429298e !important;
}

.form-check-input:checked {
  background-color: #972626 !important;
  border-color: #972626 !important;
}